body {

}

.mh1{
    height: 100vh;
    /*background-color: #00BCD4;*/;
    background-image: url(loginRegisterBackground.svg);
    background-size: cover;
    border: none;
}

input {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
    padding-right: 10px

}
