body {
}

.topHalf {
    height: 100vh;
    /*background-color: #00BCD4;*/
    background-image: url(newBackground.svg);
    background-size: cover;
    border: none
}

.logoBox {
    position: relative;
    height: 50vh
}

    .logoBox img {
        position: absolute;
        left: 0;
        bottom: 40%
    }

label {
    color: white;
    display: inline-block;
    width: 90px;
    text-align: right;
    text-decoration-color: white;
    padding-right: 10px
}

input {
    border: 1px solid #999;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: white;
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box
}

    input:focus, textarea:focus {
        border-color: #000
    }